
{% capture titleContent %}
  {% if section.settings.countdown_title != blank %}
    <h3 class="{% if template contains 'product' %}subheading-1 {% else %}heading-5 {% endif %} offer-countdown-banner__title " style="color:{{ section.settings.text_color }}" >
      {{ section.settings.countdown_title }}
    </h3>
  {% endif %}
  {% endcapture %}
{% capture paragraphContent %}
  {% if section.settings.content != blank %}
    <div class="paragraph paragraph--md offer-countdown-banner__text" style="color:{{ section.settings.text_color }}">
      {{ section.settings.content }}
    </div>
  {% endif %}
  {% endcapture %}

<section
  class="offer-countdown-banner template_{{ template }}"
  id="count_down{{ section.id }}"
  data-template="{{ template }}"
  style=" --bg-color:{{ section.settings.background_color }}; --text-color:{{ section.settings.text_color }}"
>
  <div class="container">
    <div class="offer-countdown-banner__offer-countdown-wraper offer-countdown-banner__offer-countdown-wraper-{{ template }} ">
      <div class="offer-countdown-banner__offer-countdown-wraper__col ">
        {% if template == 'product' %}
          <div class="offer-countdown-banner__content-wrap-product">
            {{ titleContent }}
            <div class="small--hide">{{ paragraphContent }}</div>
          </div>
        {% else %}
          <div class="offer-countdown-banner__content-wrap-product">
            {{ titleContent }}
            <div class="hide-large">{{ paragraphContent }}</div>
          </div>
        {% endif %}
        <div id="flip_timer"></div>
        {% unless template == 'product' %}
          <div class="offer-countdown-banner__right--content hide-mobile hide-medium">{{ paragraphContent }}</div>
        {% endunless %}
      </div>
    </div>
  </div>
</section>
<script>
      console.clear();
  function CountdownTracker(label, value){
    var el = document.createElement('span');
    el.className = 'flip-clock__piece';
    el.innerHTML = '<b class="flip-clock__card card"><b class="card__top"></b><b class="card__bottom"></b><b class="card__back"><b class="card__bottom"></b></b></b>' +
      '<span class="flip-clock__slot">' + label + '</span>';
    this.el = el;
    var top = el.querySelector('.card__top'),
        bottom = el.querySelector('.card__bottom'),
        back = el.querySelector('.card__back'),
        backBottom = el.querySelector('.card__back .card__bottom');

    this.update = function(val){
      val = ( '0' + val ).slice(-2);
      if ( val !== this.currentValue ) {

        if ( this.currentValue >= 0 ) {
          back.setAttribute('data-value', this.currentValue);
          bottom.setAttribute('data-value', this.currentValue);
        }
        this.currentValue = val;
        top.innerText = this.currentValue;
        backBottom.setAttribute('data-value', this.currentValue);

        this.el.classList.remove('flip');
        void this.el.offsetWidth;
        this.el.classList.add('flip');
      }
    }

    this.update(value);
  }

  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    return {
      'Total': t,
      'Days': Math.floor(t / (1000 * 60 * 60 * 24)),
      'Hours': Math.floor((t / (1000 * 60 * 60)) % 24),
      'Minutes': Math.floor((t / 1000 / 60) % 60),
      'Seconds': Math.floor((t / 1000) % 60)
    };
  }

  function Clock(countdown,callback) {
    countdown = countdown ? new Date(Date.parse(countdown)) : false;
    callback = callback || function(){};

    var updateFn = getTimeRemaining;

    this.el = document.createElement('div');
    this.el.className = 'flip-clock';

    var trackers = {},
        t = updateFn(countdown),
        key, timeinterval;

    for ( key in t ){
      if ( key === 'Total' ) { continue; }
      trackers[key] = new CountdownTracker(key, t[key]);
      this.el.appendChild(trackers[key].el);
    }

    var i = 0;
    function updateClock() {
      timeinterval = requestAnimationFrame(updateClock);

      // throttle so it's not constantly updating the time.
      if ( i++ % 10 ) { return; }

      var t = updateFn(countdown);
      if ( t.Total < 0 ) {
        cancelAnimationFrame(timeinterval);
        for ( key in trackers ){
          trackers[key].update( 0 );
        }
        callback();
        return;
      }

      for ( key in trackers ){
        trackers[key].update( t[key] );
      }
    }

    setTimeout(updateClock,500);
  }

  // var deadline = new Date(Date.parse(new Date()) + 12 * 24 * 60 * 60 * 1000);
  var deadline = new Date(Date.parse(new Date({{ section.settings.countdown_end_date | json }})));
  var c = new Clock(deadline, function(){ /* Do something when countdouwn is complete */ });
  var page_timer = document.getElementById('flip_timer');
  page_timer.appendChild(c.el);


  // var clock = new Clock();
  // document.body.appendChild(clock.el);
</script>
{% schema %}
{
  "name": "Flash Sale",
  "class": "flash-sale",
  "settings": [
    {
        "type": "text",
        "id": "countdown_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "End date"
      },
      {
        "type": "text",
        "id": "countdown_end_date",
        "label": "Countdown End Date (YYYY-MM-DD HR:MIN)"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#25282A"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      }
  ],
  "presets": [
    {
      "name": "Flash sale"
    }
  ]
}
{% endschema %}
